* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px red;
}

@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../Fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.flex-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.welcome {
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
  max-width: 100%;
  padding-top: 27px;
  padding-bottom: 130px;
  margin-bottom: 60px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  
}

.welcome:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.logo {
  width: 180px;
}

.nav__list {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  margin-top: 44;
  font-family: inherit;
}

.nav__link {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.nav__link:hover {
  text-decoration: underline;
  color: #ffffff;
}

.nav__item:nth-child(1n+2) {
  margin-left: 35px;
}

.menu {
  display: none;
}

.menu-btn {
  display: none;
}

.container-title {
  display: block;
  max-width: 690px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 97px;
  
}

.title {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
}

.container-page {
  display: flex;
  padding: 0 15px;
  margin: auto;
  max-width: 1200px;
}

.main-content {
  margin-right: 120px;
}

.block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}

.pic-item {
  width: 380px;
  flex: none;
}

.pic {
  width: 100%;
}

.sections {
  margin-left: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-family: inherit;
}

.list-item {
  text-transform: uppercase;
  margin-right: 15px;
}

.list-item:last-child {
  margin-right: 0px;
}

.tag {
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
}

.tag:hover {
  text-decoration: 2px underline #dcd2b8;
}

.subtitle {
  text-transform: uppercase;
}

.sub {
  color: #0f0d0e;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 35px;
  font-family: inherit;
}

.sub:hover {
  color: #b59f5b;
}

.date-author {
  display: flex;
  margin-bottom: 50px;
  font-family: inherit;
}

.date {
  margin-right: 10px;
  font-size: 12px;
  color: #9b9b9b;
}

.author {
  font-weight: bold;
  color: #000000;
  font-size: 12px;
}

.text {
  font-size: 15px;
  color: #0f0d0e;
  line-height: 22px;
  font-family: inherit;
}

.text > p:not(:first-child) {
  margin-top: 20px;
}

.aside-content {
  max-width: 270px;
}

.aside-header {
  position: relative;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 44px;
  font-family: inherit;
}

.aside-header::after {
  content: "";
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.aside-block {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}

.img {
  margin-right: 18px;
  width: 70px;
}

.aside-img {
  width: 100%;
}
.post-date {
  font-size: 12px;
  color: #9a9a9a;
  font-family: inherit;
}

.aside-sub {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 5px;
  font-family: inherit;
}

.sub-link {
  color: #000000;
}

.sub-link:hover {
  color: #b59f5b;
}

.search-wrap {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search {
  box-sizing: border-box;
  border: none;
  height: 48px;
  width: 222px;
  font-size: 13px;
  background-color: #f4f7f6;
  padding: 17px;
  font-family: inherit;
}

.search:focus, .email:focus, .select:focus {
  border-bottom: 1px solid #ebe7d7;
}

.button {
  border: none;
  height: 48px;
  width: 48px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.button:hover {
  background-color: #323232;
}

.email {
  box-sizing: border-box;
  border: none;
  height: 48px;
  width: 100%;
  font-size: 13px;
  background-color: #f4f7f6;
  padding: 17px;
  margin-bottom: 17px;
  font-family: inherit;
}

.send-block {
  margin-bottom: 60px;
}

.send {
  box-sizing: border-box;
  border: none;
  height: 48px;
  width: 100%;
  background-color: #b59f5b;
}

.send:hover {
  border-top: 1px solid #b9b29b;
  background-color: #323232;
}

.btn-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.tags-block {
  margin-bottom: 60px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.tags-list-item {
  margin: 0px 5px 5px 0px;
  border: 3px solid #eeeeee;
  padding: 6px 10px;
}

.tags-list-item:hover {
  border: 3px solid #b59f5b;
}

.tag-link {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.themes-list-item {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0px;
}

.themes-link {
  color: #000000;
}

.themes-link:hover {
  color: #b59f5b;
}

.number {
  color: #b59f5b;
  vertical-align: super;
}

.footer {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.social {
  background-color: #f4f7f6;
}
.social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list-item {
  margin-right: 30px;
}

.social-list-item:last-child {
  margin-right: 0px;
}

.social-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.widget {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.link-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.link-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.link-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.link-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.link-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  margin-top: 73px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-family: inherit;
}

.copy {
  color: #999999;
} 

.trend {
  display: block;
}

.trend-header {
  position: relative;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 44px;
  font-family: inherit;
}

.trend-header::after {
  content: "";
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.wrap {
  display: flex;
  max-width: 100%;
  margin-bottom: 63px;
  align-items: flex-end;
  justify-content: space-between;
}

.trend-block {
  display: flex;
  position: relative;
  z-index: 0;
  max-width: 100%;
  min-height: 317px;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  width: 24%;
  padding: 15px 22px;
}

.trend-block::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.bord {
  outline: 3px solid #b59f5b;
  padding: 35px;
}

.one {
  background-image: url("../IMG/trend1.jpg");  
}

.two {
  background-image: url("../IMG/trend2.jpg");  
}

.three {
  background-image: url("../IMG/trend3.jpg");  
}

.four {
  background-image: url("../IMG/trend4.jpg");
}

.trend-sub {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: inherit;
}

.trend-sub:hover {
  color: #b59f5b;
}

.store {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 40px;
}

.store-box{
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}

.store-pic {
  display: flex;
  align-items: center;
 }

.store-img {
  width: 100%;
}

.frame {
  outline: 3px solid #b59f5b;
  margin-bottom: 96px;
  max-width: 345px;
  max-height: 264px;
  outline-offset: 28px;
  padding-top: 27px;
  flex-grow: 1;
}

.store-sub {
  color: #0f0d0e;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  font-family: inherit;
  margin-bottom: 16px;
}

.text-store {
  margin-bottom: 26px;
}

.store-link {
  color: #b59f5b;
  font-size: 15px;
  line-height: 22px;
  font-family: inherit;
}

.store-link:hover {
  text-decoration: 2px underline #b59f5b;
}

.price {
  display: flex;
  justify-content: space-between;
}


.old-price {
  color: #0f0d0e;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: inherit;
  text-decoration: line-through;
}

.new-price {
  color: #0f0d0e;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: inherit;
}
.store-go {
  box-sizing: border-box;
  border: none;
  height: 48px;
  width: 140px;
  background-color: #b59f5b;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.popup:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
  
}

.popup-body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.popup-content {
  background-color: #ffffff;
  max-width: 390px;
  padding: 53px 30px;
}

.popup-header {
  position: relative;
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: inherit;
  margin-bottom: 26px;
}

.popup-header::after {
  content: "";
  height: 3px;
  width: 66px;
  background-color: #b59f5b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.select-label {
  font-family: inherit;
  font-size: 13px;
}

.select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding-left: 19px;
  font-family: inherit;
  font-size: 13px;
  background-color: #f4f7f6;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: right 13px center;
  border: none;
  margin-bottom: 34px;
  margin-top: 11px;
}

.radio-group {
  margin-top: 12px;
  margin-bottom: 33px;

}
.radio-group-text::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 17px;
  height: 17px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
  vertical-align: middle;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 38px;
}

.radio-group {
  display: inline-block;
  font-size: 13px;
}

.radio:checked {
  outline: 1px solid #b59f5b;
  outline-offset: 1px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
}

.textarea {
  min-width: 330px;
  max-width: 330px;
  min-height: 130px;
  max-height: 130px;
  padding: 20px;
  margin-top: 12px;
  font-family: inherit;
}

.popup-send {
  margin-top: 26px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .welcome {
  background-image: url("../img/banner-bg-tablet.jpg");
  }

  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
    
  }

  .menu-btn button {
    width: 22px;
    height: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
  }

 .menu-btn, button:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn, button:nth-of-type(3) {
    top: calc(50% - 5px);
  }

  .nav__list {
    display: none;
  }

  .nav {
    display: none;
  }

  .block {
   display: block;
  }

  .trend {
    max-width: 100%;
  }

  .wrap {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .trend-block {
    margin: 3px;
  }

  .container-page {
    padding: 0 34px;
    justify-content: space-between;
  }

  .main-content {
    margin-right: 32px;

  }

  .block {
    max-width: 380px;
  }

  .sections {
    margin: 0;
  }

  .store-container {
    max-width: 1200px;
    padding: 0 34px;
  }

  .store {
    flex-wrap: wrap;
  }

  .store-box {
    width: 48%;
  }

  .welcome {
    max-width: 1200px;
  }

  .one, .two, .three, .four {
    width: 49%;
  }

  .footer {
    padding: 0 34px;
  }
} 

@media (max-width: 640px) and (orientation: landscape) {
  .welcome {
  background-image: url("../img/banner-mobile.jpg")
  }

  .menu {
   display: none;
  }

  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
  }

  .menu-btn button {
    width: 22px;
    height: 2px;
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
  }

  .menu-btn button:nth-of-type(2) {
    top: calc(50% - 5px);
  }

  .menu-btn button:nth-of-type(3) {
    top: calc(50% - 5px);
  }

  .nav {
    display: none;
  }

  .nav__list {
    display: none;
  }

  .block {
   display: block;
   box-sizing: border-box;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .container-page {
    flex-wrap: wrap;
  }

  .block {
    flex-wrap: wrap;
  }


  .store {
    flex-wrap: wrap;
  }

  .store-box {
    width: 48%;
  }

  .store-container {
    width: 100vw;
  }

  .one, .two, .three, .four {
    width: 99%;
  } 

}

@media (max-width: 640px) and (orientation: portrait) {
  .welcome {
  background-image: url("../img/banner-mobile.jpg")
  }

  .nav__list {
    display: none;
  }

  .nav {
    display: none;
  }

  .block {
   display: block;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .container-page {
    flex-wrap: wrap;
  }

  .store {
    flex-wrap: wrap;
  }

  .store-box {
    width: 98%;
  }

  .store-container {
    width: 100vw;
  }

  .one, .two, .three, .four {
    width: 99%;
  } 
}